.intro-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: rgba(248, 248, 248, 0.8); 
  min-height: 83.5vh; 
  background-image: url('../../assets/bk.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  position: relative; 
}


.intro-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); 
  z-index: -1; 
}

.intro-content {
  display: flex;
  flex-direction: row;
  gap: 2rem; 
  align-items: center;
  max-width: 900px; 
  margin: 0 auto;
  text-align: left; 
}

.photo img {
  width: 200px; 
  height: 200px; 
  border-radius: 50%; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.tagline {
  font-size: 2rem;
  font-weight: bold;
  color: #fff; 
  margin-bottom: 1rem;
}


.bio {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #fff; 
}

@media (max-width: 768px) {
  .intro-content {
    flex-direction: column;
    text-align: center;
  }

  .photo img {
    width: 150px;
    height: 150px;
  }
}
